.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
#container {
  height: 771px;
  width: 641px;
  margin: 100px auto;
  background-image: URL(background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
#domains {
	height: 240px;
	width: 450px;
	margin: 50px auto;
}
#domain {
	font-family: Orbitron;
	align-items: left;
	white-space: nowrap;
	overflow: hidden;
	width: 50px;
	height: 30px;
	font-size:15px;
	font-weight: bold;
	text-overflow: ellipsis;
}

#valid_d {
	font-family: Orbitron;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	width: 30px;
	height: 30px;
	font-size:12px;
	text-overflow: ellipsis;
}
#cll_valid_d {
	font-family: Orbitron;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	width: 30px;
	height: 30px;
	font-size:12px;
	text-overflow: ellipsis;
}
table.gridtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: transparent;
}
table {
	border-spacing: 40 0px;
}

table.gridtable {

	font-family: tahoma;
	line-height:15px;
	font-size:12px;
	color:#333333;
	border-width: 1px;

	border-color: #666666;
	border-collapse: collapse;

}
table.gridtable th {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	color:#FFFFFF;
	background-color: #5A94CE; /*#66CCFF*/
}
tfoot > tr  {
  background: black;
  color: white;
}
tbody > tr:hover {
  background-color: #ffc107;
}
