<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create DataBase and SignUp</title>
    <LINK rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <meta name="viewport"  http-equiv="refresh" content="20" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="container">
    <div id="domains">
        <h1>Create DataBase and SignUpp</h1>
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="name" name="name" placeholder="Your Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
</body>
</html>
